@import '~style/helpers';


.party{
  padding: 56px 20px;

}

.party h1{
  margin-bottom: 0px;
}

.song{
  display: flex;
  justify-content: center;
  margin: 2vh 20vw 2vh 20vw;
  width: 60vw;
}

.wrapper{
  display: grid;
  justify-items: center;
  text-align: center;
}
.nowPlayingWrapper{
  display: inline-block;
  margin-bottom: 15px;
}

.queueWrapper{
  display: inline-block;
  margin-top: 15px;
}

.queueElement{
  display: block;
  width: 50vw;
  margin-bottom: 15px;
}

.queueHeader{
  margin: 10px 0 10px 0;
  text-align: left;
  float: left;
}

.nowPlayingElement{
  display: inline-block;
  width: 20vw;
}

.partyNum{
  margin: 5px 0 5px 0;
  text-align: center;
}
